<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      table,
      th,
      td {
        border: 1px solid;
      }
    </style>
    <title>Form</title>
  </head>
  <body>
    <form data-th-action="@{/api/rsvp/form}" method="post" data-th-object="${rsvp}">
      <table>
        <tr>
          <td>Name</td>
          <td><input type="text" data-th-field="*{name}" /></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><input type="text" data-th-field="*{email}" /></td>
        </tr>
        <tr>
          <td>Phone</td>
          <td><input type="text" data-th-field="*{phone}" /></td>
        </tr>
        <tr>
          <td>Confirmation date</td>
          <td><input type="date" data-th-field="*{confirmationDate}" /></td>
        </tr>
        <tr>
          <td>Comments</td>
          <td><textarea data-th-field="*{comments}" cols="30" rows="10"></textarea></td>
        </tr>
      </table>
      <button type="submit">Post</button>
    </form>
  </body>
</html>
